<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/portal}">
<head>
    <title th:text="#{general.app.login.title}">Login</title>
</head>
<body>
<div layout:fragment="content">

    <div class="login-wrapper">
        <div class="login-box">
            <div class="content-wrap">
                <div class="title" th:text="#{general.login.title}">Login</div>

                <div>

                    <a class="btn btn-midata-login"
                       th:href="@{/oauth2/authorize/midata}"
                       th:text="#{general.login.midata}"
                    >
                        mit MiData anmelden
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

<th:block layout:fragment="scripts">

</th:block>

</body>
</html>
