<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/portal}">
<head>
    <title th:text="${entity.id} ? #{masterTile.edit.title} : #{masterTile.create.title}">Portal</title>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="${entity.id} ? #{masterTile.edit.title} : #{masterTile.create.title}"></h1>

    <div class="top-buttons">
        <a class="btn-text" th:href="@{/admin/masterTile}">
            <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path fill="currentColor" d="M80 368H16a16 16 0 0 0-16 16v64a16 16 0 0 0 16 16h64a16 16 0 0 0 16-16v-64a16 16 0 0 0-16-16zm0-320H16A16 16 0 0 0 0 64v64a16 16 0 0 0 16 16h64a16 16 0 0 0 16-16V64a16 16 0 0 0-16-16zm0 160H16a16 16 0 0 0-16 16v64a16 16 0 0 0 16 16h64a16 16 0 0 0 16-16v-64a16 16 0 0 0-16-16zm416 176H176a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16zm0-320H176a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16V80a16 16 0 0 0-16-16zm0 160H176a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h320a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16z"></path>
            </svg>
            <th:block th:text="#{masterTile.topButtons.overview}">Overview</th:block>
        </a>
    </div>

    <form th:action="${entity.id} ? @{/admin/masterTile/edit/{id}(id=${entity.id})} : @{/admin/masterTile/create}"
          method="post" th:object="${entity}"
          enctype="multipart/form-data">
        <div class="col-block col-3">
            <div class="col double tabs">
                <div class="tab-controls">
                    <button type="button" class="btn-tab"
                            th:each="language : ${T(ch.itds.pbs.portal.domain.Language).values()}"
                            th:text="${language}"
                            th:classappend="${language == T(ch.itds.pbs.portal.domain.Language).DE ? 'active' : ''}"
                            th:attr="data-tabid=${language}"
                    ></button>
                </div>
                <div class="tab-elements">
                    <div class="form-panel tab-content"
                         th:each="language : ${T(ch.itds.pbs.portal.domain.Language).values()}"
                         th:classappend="${language == T(ch.itds.pbs.portal.domain.Language).DE ? 'active' : ''}"
                         th:attr="data-tabid=${language}"
                         th:with="langLow=${#strings.toLowerCase(language)}"
                    >
                        <div class="form-wrap">
                            <input th:classappend="${not #lists.isEmpty(#fields.errors('title.' + langLow))} ? 'is-invalid'"
                                   th:placeholder="#{masterTile.title.label}"
                                   th:field="*{title.__${langLow}__}"
                                   th:id="${'title_' + langLow + '-input'}"
                                   type="text"
                            >
                            <label th:for="${'title_' + langLow + '-input'}" th:text="#{masterTile.title.label}"></label>
                            <div class="invalid-feedback">
                                <p th:each="error: ${#fields.errors('title.' + langLow)}" th:text="${error}">Invalid data</p>
                            </div>
                        </div>
                        <div class="form-wrap char-count">
                            <textarea th:classappend="${not #lists.isEmpty(#fields.errors('content.' + langLow))} ? 'is-invalid'"
                                   th:placeholder="#{masterTile.content.label}"
                                   th:field="*{content.__${langLow}__}"
                                   th:id="${'content_' + langLow + '-input'}"
                            ></textarea>
                            <label th:for="${'content_' + langLow + '-input'}" th:text="#{masterTile.content.label}"></label>
                            <div class="invalid-feedback">
                                <p th:each="error: ${#fields.errors('content.' + langLow)}" th:text="${error}">Invalid data</p>
                            </div>
                        </div>
                        <div class="form-wrap">
                            <input th:classappend="${not #lists.isEmpty(#fields.errors('url.' + langLow))} ? 'is-invalid'"
                                   th:placeholder="#{masterTile.url.label}"
                                   th:field="*{url.__${langLow}__}"
                                   th:id="${'url_' + langLow + '-input'}"
                                   type="text"
                            >
                            <label th:for="${'url_' + langLow + '-input'}" th:text="#{masterTile.url.label}"></label>
                            <div class="invalid-feedback">
                                <p th:each="error: ${#fields.errors('url.' + langLow)}" th:text="${error}">Invalid data</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col double-lg">
                <div class="form-panel tab-btn-offset">
                    <div class="form-wrap">
                        <select th:classappend="${not #lists.isEmpty(#fields.errors('category'))} ? 'is-invalid'"
                                th:field="*{category}"
                                id="category-input"
                        >
                            <option th:each="category: ${categoryList}"
                                    th:selected="${entity.category != null && category.id == entity.category.id}"
                                    th:text="${category.name}"
                                    th:value="${category.id}">
                        </select>
                        <label th:for="category-input" th:text="#{masterTile.category.label}"></label>
                        <div class="invalid-feedback">
                            <p th:each="error: ${#fields.errors('category')}" th:text="${error}">Invalid data</p>
                        </div>
                    </div>

                    <div class="form-wrap">
                        <div th:if="${entity.image!=null}" class="image-preview">
                            <span th:text="${entity.image.name}"></span>
                            <img th:src="@{/tile/masterFile/{tileId}/{tileVersion}/{name}(tileId=${entity.id},tileVersion=${entity.version},name=${entity.image.name})}" th:alt="${entity.title}">
                            <button class="btn-icon btn-delete btn-input-after" type="button">
                                <svg aria-hidden="true" focusable="false"  role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512">
                                    <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path>
                                </svg>
                            </button>
                        </div>
                        <input th:classappend="${not #lists.isEmpty(#fields.errors('image'))} ? 'is-invalid'"
                               name="imageUpload"
                               id="image-input"
                               type="file"
                        >
                        <label th:for="image-input" th:text="#{masterTile.image.label}"></label>
                        <div class="invalid-feedback">
                            <p th:each="error: ${#fields.errors('image')}" th:text="${error}">Invalid data</p>
                        </div>
                    </div>

                    <div class="form-wrap">
                        <select th:classappend="${not #lists.isEmpty(#fields.errors('backgroundColor'))} ? 'is-invalid'"
                                th:field="*{backgroundColor}"
                                id="theme-select"
                        >
                            <option th:each="theme: ${colorList}"
                                    th:selected="${entity.backgroundColor != null && theme == entity.backgroundColor}"
                                    th:value="${theme}"
                                    th:text="#{__${theme.getMessageKey(theme)}__}">
                        </select>
                        <label th:for="theme-select" th:text="#{masterTile.theme.label}"></label>
                        <div class="invalid-feedback">
                            <p th:each="error: ${#fields.errors('category')}" th:text="${error}">Invalid data</p>
                        </div>
                    </div>

                    <div class="form-wrap">
                        <input th:field="*{apiKey}"
                               id="apiKey-input"
                               type="text"
                               class="copy-to-clipboard"
                               readonly
                        >
                        <label th:for="apiKey-input" th:text="#{masterTile.apiKey.label}"></label>
                    </div>

                    <div class="form-wrap">
                        <input th:field="*{enabled}"
                               id="enabled-input"
                               type="checkbox"
                        >
                        <label th:for="enabled-input" th:text="#{masterTile.enabled.label}"></label>
                    </div>
                </div>
            </div>
        </div>


        <div class="controls">
            <button type="submit" class="btn">Speichern</button>
            <a type="button" class="btn" th:href="@{/admin/masterTile}">Abbrechen</a>
        </div>
    </form>

</div>

<th:block layout:fragment="scripts">

</th:block>

</body>
</html>
