.page-footer {
  background-color: $color-primary;
  color: $color-bright;
  margin-top: 15rem;
  padding: 1.5rem 0;

  .col {
    margin-bottom: 0;
  }

  ul {
    @include link-list;
  }

  a {
    color: $color-bright;
  }

  small a {
    color: $color-bright;
    text-decoration: none;

    &:hover {
      color: $color-secondary;
    }
  }

  .versioninfo {
    white-space: nowrap;
  }

}



@media (max-width: $break-xs) {
  .page-footer {
    text-align: center;

    .links {
      text-align: center;

      li { margin: 0 1rem; }
    }
  }
}
