.login-wrapper {
  display: flex;

  .login-box {
    @include tile;
    width: calc(100% / 3);
  }
}

.btn-midata-login {
  color: #fff;
  background-color: #521d3a;
  border: 1px solid #521d3a;
  background-image: url('/assets/midata.png');
  background-position: 10px 2px;
  background-repeat: no-repeat;
  background-size: 33px;
  padding-left: 59px;

  &:hover {
    background-color: #632949;
    border-color: #632949;
  }
}


// ===== MEDIA QUERIES =====
@media (max-width: $break-md) {
  .login-wrapper {
    .login-box {
      width: 50%;
    }
  }
}


@media (max-width: $break-sm) {
  .login-wrapper {
    .login-box {
      width: 100%;
    }
  }
}
