.messages {
  .header,
  .accordion-header {
    display: flex;

    .sender {
      overflow: hidden;
      width: 30rem;
    }
    .title {
      flex: 2 1 auto;
      overflow: hidden;
      width: 30rem;
    }
    .read {
      flex: 0 0 auto;
      width: 10rem;
    }
    .date {
      overflow: hidden;
      width: 15rem;
    }
    .controls {
      flex: 0 0 auto;
      margin: -1rem 0 -1rem 0;
      text-align: right;
      width: 10rem;
    }
  }

  .accordion-header {
    height: 3rem;
  }

  .message {
    border: 0.3rem solid $color-bright;
    padding: 0.7rem;

    &:hover {
      .indicator-open,
      .indicator-close {
        color: $color-secondary;
      }
    }

    &:nth-of-type(odd) {
      border-color: $color-gray-light;
    }

    &.open {
      border-color: $color-primary;

      .indicator-close {
        display: inline-block;
      }

      .indicator-open {
        display: none;
      }

      .accordion-body {
        padding-top: 4rem;
      }
    }

    .accordion-body {
      padding-top: 0;
      transition: padding-top $animation-time;

      .title {
        font-weight: $font-weight-semi-bold;
        margin-bottom: 2.5rem;
        max-width: 90rem;
      }

      .content {
        max-width: 90rem;
      }
    }

    .indicator-close {
      display: none;
    }

    .indicator-close,
    .indicator-open {
      margin-top: 1rem;
    }

    .url {
      display: block;
      margin-top: 3rem;
      word-break: break-word;

      &:hover {
        color: $color-secondary;
      }
    }

    &.hidden {
      display: none;
    }
  }
}



// ===== MEDIA QUERIES =====
@media (max-width: $break-md) {
  .messages {
    .header {
      display: none;
    }

    .accordion-header {
      display: block;
      height: auto;
      padding-right: 4rem;
      position: relative;

      .sender,
      .title,
      .date {
        width: 100%;
      }

      .read {
        position: absolute;
        right: 0;
        top: 4rem;
        width: auto;
        z-index: 1;
      }

      .controls {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;

        .btn-delete {
          position: absolute;
          right: -1rem;
          top: 4rem;
          z-index: 1;
        }
      }
    }

    .message.open {
      .accordion-body {
        padding-top: 2rem;

        .title {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
