.tiles {
  .tile {
    @include tile;

    .image {
      line-height: 0;
    }

    .label {
      bottom: $tile-padding;
      left: $tile-padding;
      position: absolute;
      z-index: 1;
    }

    .message-count {
      background-color: $color-primary;
      bottom: $tile-padding;
      color: $color-bright;
      position: absolute;
      right: $tile-padding;
      text-decoration: none;
      top: auto;
    }

    .btn-link {
      opacity: 0;
      position: absolute;
      right: 1.3rem;
      top: 1.3rem;
      transition: opacity $animation-time;
      z-index: 1;
    }

    &:hover {
      border-color: $color-primary;

      .btn-link {
        opacity: 1;
      }
    }

    &[class*="theme-"] {
      color: $color-bright;

      .label,
      .badge {
        background-color: $color-bright;
        color: $color-primary;
      }

      .btn-link {
        color: $color-bright;

        &:hover {
          color: $color-secondary;
        }
      }

      &:hover {
        border-color: $color-secondary;
      }
    }

    &.theme-OPTION_1 {
      background-color: $color-theme-forest;
      border-color: $color-theme-forest;
    }

    &.theme-OPTION_2 {
      background-color: $color-theme-ocean;
      border-color: $color-theme-ocean;
    }

    &.theme-OPTION_3 {
      background-color: $color-primary;
      border-color: $color-primary;
    }

    &.theme-OPTION_4 {
      background-color: $color-theme-earth;
      border-color: $color-theme-earth;
    }
  }

  .grid-sizer { display: none; width: calc(100% / 3 - #{$column-spacing * 2}); }
  .gutter-sizer { display: none; width: $column-spacing * 2; }
}



// ===== MEDIA QUERIES =====
@media (max-width: $break-md) {
  .tiles {
    .tile {
      .title {
        font-size: 2rem;
        margin-bottom: 2rem;
      }

      .btn-link {
        opacity: 1;
      }
    }
  }
}


@media (max-width: $break-xs) {
  .tiles {
    .tile {
      padding: $tile-padding-small $tile-padding-small 6rem;

      .title {
        padding-right: 4rem;
      }

      .label {
        bottom: $tile-padding-small;
        left: $tile-padding-small;
      }

      .btn-link {
        right: 0.1rem;
        top: 0.1rem;
      }

      .message-count {
        bottom: $tile-padding-small;
        right: $tile-padding-small;
      }
    }
  }
}
