.tiles {
  .tile {
    @include tile;

    a {
      text-decoration: none;
    }

    .image {
      line-height: 0;
      margin-top: 2rem;
    }

    .meta-wrap,
    .label-wrap {
      display: flex;
      align-items: flex-start;
      flex-wrap: nowrap;
    }

    .label-wrap {
      flex-wrap: wrap;
      width: 50%;
      padding: 1rem 0;
    }

    .meta-inner-wrap {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-end;
      width: 50%;
    }

    .message-count {
      background-color: $color-primary;
      color: $color-bright;
      text-decoration: none;
      top: unset;
      margin-right: 1rem;
    }

    .btn-link {
      opacity: 0;
      position: absolute;
      right: 1.3rem;
      top: 1.3rem;
      transition: opacity $animation-time;
      z-index: 1;
    }

    &:hover {
      border-color: $color-primary;

      .btn-link {
        opacity: 1;
      }
    }

    &[class*="theme-"] {
      color: $color-bright;

      a {
        color: $color-bright;
      }

      .label,
      .badge {
        background-color: $color-bright;
        color: $color-primary;
      }

      .btn-link {
        color: $color-bright;

        &:hover {
          color: $color-secondary;
        }
      }

      &:hover {
        border-color: $color-secondary;
      }
    }

    &.theme-GREEN {
      background-color: $color-theme-forest;
      border-color: $color-theme-forest;
    }

    &.theme-BLUE {
      background-color: $color-theme-ocean;
      border-color: $color-theme-ocean;
    }

    &.theme-INVERTED_DEFAULT {
      background-color: $color-primary;
      border-color: $color-primary;
    }

    &.theme-OCHER {
      background-color: $color-theme-earth;
      border-color: $color-theme-earth;
    }
  }

  .grid-sizer { display: none; width: calc(100% / 3 - #{$column-spacing * 2}); }
  .gutter-sizer { display: none; width: $column-spacing * 2; }
}

.tiles.tiles-not-editable .editable-only {
  display: none;
}


// ===== MEDIA QUERIES =====
@media (max-width: $break-md) {
  .tiles {
    .tile {
      .title {
        font-size: 2rem;
        margin-bottom: 2rem;
      }

      .btn-link {
        opacity: 1;
      }
    }
  }
}


@media (max-width: $break-xs) {
  .tiles {
    .tile {
      .content-wrap {
        padding: $tile-padding-small;
      }

      .meta-wrap {
        padding: 0 $tile-padding-small 1.5rem $tile-padding-small;
        flex-wrap: wrap;
      }

      .label-wrap,
      .meta-inner-wrap {
        width: 100%;
      }

      .meta-inner-wrap {
        justify-content: flex-start;
        padding-top: 2rem;
      }

      .title {
        padding-right: 4rem;
      }

      .btn-link {
        right: 0.1rem;
        top: 0.1rem;
      }

    }
  }
}
