<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/portal}">
<head>
    <title th:text="#{masterTile.catalog.titel}">Portal</title>
</head>
<body>
<div layout:fragment="content">

    <div class="header-container">
        <div class="header-item">
            <h1 th:text="#{masterTile.catalog.titel}">Portal</h1>
        </div>
        <div class="header-item">
            <div class="top-buttons">

            </div>
        </div>
    </div>

    <div class="filter-catalog">
        <input class="filter" type="text" name="title" th:value="${filterTitle}"
               th:placeholder="#{userTile.catalog.filter.title.placeholder}">
        <select class="filter" aria-label="select" name="category">
            <option value="" th:text="#{userTile.catalog.filter.category.all}"></option>
            <option th:each="category : ${categories}"
                    th:value="${category.key}"
                    th:text="${category.value}"
                    th:selected="${category.key==filterCategory}"
            ></option>
        </select>
    </div>

    <div class="tiles col-block col-3 flex-align-start">
        <div class="grid-sizer"></div>
        <div class="gutter-sizer"></div>

        <div class="tile col" th:each="tile : ${tiles}"
             th:classappend="${tile.backgroundColor != T(ch.itds.pbs.portal.domain.Color).DEFAULT ? 'theme-' + tile.backgroundColor: ''}"
             th:attr="data-tile-category-id=${tile.categoryId},data-tile-title=${tile.title}"
        >
            <a th:if="${tile.hasUrl}" target="_blank" rel="noopener" th:href="${tile.url}">
                <div class="content-wrap">
                    <div class="title" th:text="${tile.title}"></div>
                    <div class="content" th:text="${tile.content}"></div>
                    <div class="image" th:if="${tile.image}">
                        <img th:src="@{/tile/masterFile/{tileId}/{tileVersion}/{name}(tileId=${tile.masterTileId},tileVersion=${tile.masterTileVersion},name=${tile.image.name})}">
                    </div>

                    <div class="btn-icon btn-link">
                        <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 576 512">
                            <path fill="currentColor"
                                  d="M195.515 374.828c-4.686-4.686-4.686-12.284 0-16.971l323.15-323.15-.707-.707-89.958.342c-6.627 0-12-5.373-12-12v-9.999c0-6.628 5.372-12 12-12L564 0c6.627 0 12 5.372 12 12l-.343 136c0 6.627-5.373 12-12 12h-9.999c-6.627 0-12-5.373-12-12L542 58.042l-.707-.707-323.15 323.15c-4.686 4.686-12.284 4.686-16.971 0l-5.657-5.657zm232-155.633l-8 8A12 12 0 0 0 416 235.68V464c0 8.837-7.164 16-16 16H48c-8.836 0-16-7.163-16-16V112c0-8.837 7.164-16 16-16h339.976c3.183 0 6.235-1.264 8.485-3.515l8-8c7.56-7.56 2.206-20.485-8.485-20.485H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V227.681c0-10.691-12.926-16.045-20.485-8.486z"></path>
                        </svg>
                    </div>
                </div>
            </a>

            <div th:unless="${tile.hasUrl}" class="content-wrap">
                <div class="title" th:text="${tile.title}"></div>
                <div class="content" th:text="${tile.content}"></div>
                <div class="image" th:if="${tile.image}">
                    <img th:src="@{/tile/masterFile/{tileId}/{tileVersion}/{name}(tileId=${tile.masterTileId},tileVersion=${tile.masterTileVersion},name=${tile.image.name})}">
                </div>
            </div>

            <div class="meta-wrap">
                <div class="label-wrap">
                    <div class="category label" th:text="${tile.category}"></div>
                </div>
                <div class="meta-inner-wrap">

                    <a th:href="@{/share/tile/{tileId}(tileId=${tile.masterTileId})}"
                       class="btn-text btn-icon copy-share-link">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path fill="currentColor" d="M448 128C448 181 405 224 352 224C323.1 224 297.2 211.2 279.6 191L189.9 235.9C191.3 242.4 191.1 249.1 191.1 255.1C191.1 262.9 191.3 269.6 189.9 276.1L279.6 320.1C297.2 300.8 323.1 287.1 352 287.1C405 287.1 448 330.1 448 384C448 437 405 480 352 480C298.1 480 256 437 256 384C256 377.1 256.7 370.4 258.1 363.9L168.4 319C150.8 339.2 124.9 352 96 352C42.98 352 0 309 0 255.1C0 202.1 42.98 159.1 96 159.1C124.9 159.1 150.8 172.8 168.4 192.1L258.1 148.1C256.7 141.6 256 134.9 256 128C256 74.98 298.1 32 352 32C405 32 448 74.98 448 128H448zM95.1 304C122.5 304 143.1 282.5 143.1 256C143.1 229.5 122.5 208 95.1 208C69.49 208 47.1 229.5 47.1 256C47.1 282.5 69.49 304 95.1 304zM352 80C325.5 80 304 101.5 304 128C304 154.5 325.5 176 352 176C378.5 176 400 154.5 400 128C400 101.5 378.5 80 352 80zM352 432C378.5 432 400 410.5 400 384C400 357.5 378.5 336 352 336C325.5 336 304 357.5 304 384C304 410.5 325.5 432 352 432z"/>
                        </svg>
                    </a>

                    <form th:if="${selectForMidataGroup==null}"
                          th:action="@{/userTile/create/{masterTileId}(masterTileId=${tile.masterTileId})}"
                          method="post">
                        <button class="btn-text btn-icon" type="submit" th:title="#{userTile.create.verboseTitle}">
                            <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 448 512">
                                <path fill="currentColor"
                                      d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path>
                            </svg>
                        </button>
                    </form>
                    <form th:if="${selectForMidataGroup!=null}"
                          th:action="@{/admin/midataGroup/{midataGroupId}/defaultTile/create/{masterTileId}(midataGroupId=${selectForMidataGroup.id},masterTileId=${tile.masterTileId})}"
                          method="post">
                        <button class="btn-text btn-icon" type="submit"
                                th:title="#{midataGroup.defaultTile.verboseCreate(${selectForMidataGroup.name})}">
                            <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 448 512">
                                <path fill="currentColor"
                                      d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path>
                            </svg>
                        </button>
                    </form>
                </div>

        </div>
    </div>
</div>

<th:block layout:fragment="scripts">

</th:block>

</body>
</html>
