<th:block th:fragment="footer"
        xmlns:asset="https://www.itds.ch/taglib/asset"
        xmlns:th="http://www.thymeleaf.org"
>
    <footer class="page-footer">
        <div class="container">
            <div class="col-block col-2">
                <div class="col">
                    <strong th:text="#{general.footer.copyright(${#numbers.formatInteger(#dates.year(#dates.createNow()),4,'NONE')}
)}"></strong>
                    <th:block th:replace="fragments/version"/>
                    <br/>
                    <small>
                        <th:block th:text="#{general.footer.developed-by}"></th:block>
                        <a href="https://qube.ag/" target="_blank">Qube AG</a>
                    </small>
                </div>

                <div class="col text-right">
                    <nav class="links">
                        <ul>
                            <li><a th:href="#{general.footer.legal-notice.url}"
                                   th:text="#{general.footer.legal-notice}">Impressum</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </footer>

    <script asset:src="@{/assets/application.js}"></script>
    <script th:src="@{/static/isotope-3.0.6.min.js}"></script>
</th:block>
