<th:block th:fragment="notifications" xmlns:th="http://www.thymeleaf.org">
    <div id="notifications" class="portal-flash d-none">
        <div class="alert success" th:if="${#vars['flash.success']!=null}"
             th:text="${#vars['flash.success']}"></div>
        <div class="alert info" th:if="${#vars['flash.info']!=null}" th:text="${#vars['flash.info']}"></div>
        <div class="alert error" th:if="${#vars['flash.error']!=null}"
             th:text="${#vars['flash.error']}"></div>
    </div>
</th:block>
