@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin unstyled-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin link-list {
  @include unstyled-list;

  li {
    display: inline-block;
    margin-left: 2rem;
  }

  a {
    display: inline-block;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

@mixin btn {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-family: $base-body-font-family;
  font-weight: $font-weight-light;
  font-size: $base-body-font-size;
  line-height: $base-body-line-height;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all $animation-time;
}
