// ===== COLORS =====
$color-primary:                 #521d3a;
$color-primary-escaped:         '%23521d3a';
$color-secondary:               #a48997;
$color-dark:                    #000000;
$color-bright:                  #ffffff;
$color-bright-escaped:          '%23ffffff';
$color-gray:                    #5f6368;
$color-gray-light:              #f8f7f6;
$color-error:                   #ba0000;
$color-success:                 #009900;



// ===== SIZES =====
$container-width:               140rem;
$container-horizontal-padding:  2rem;
$header-height:                 13rem;
$header-height-small:           8rem;
$header-padding:                1.5rem;
$column-spacing:                1.5rem;



// ===== FONTS =====
$base-font-size:                62.5%;
$font-weight-light:             300;
$font-weight-semi-bold:         600;
$font-weight-bold:              700;

$base-body-font-family:         'Source Sans Pro', Arial, Helvetica, sans-serif;
$base-body-font-weight:         $font-weight-light;
$base-body-font-size:           2rem;
$base-body-line-height:         1.5;



// ===== ANIMATIONS =====
$animation-time:                0.3s;



// ===== BREAKPOINTS =====
$break-xxl:                     1999px;
$break-xl:                      1600px;
$break-lg:                      1199px;
$break-md:                      991px;
$break-sm:                      767px;
$break-xs:                      479px;
