<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/portal}">
<head>
    <title th:text="#{midataGroup.index.titel}">Edit</title>
</head>
<body>
<div layout:fragment="content">

    <h1 th:text="#{midataGroup.index.titel}">Admin Portal</h1>

    <div class="top-buttons">

    </div>

    <table class="table" th:unless="${groups.isEmpty()}">
        <thead>
        <tr>
            <th></th>
            <th th:text="#{midataGroup.defaultTile.titel.short}">Standardansicht</th>
            <th th:text="#{masterTile.indexOfGroup.titel.short}">Kacheln</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="group : ${groups}" th:id="|group${group.id}|">
            <td th:text="${group.name}">
            </td>
            <td>
                <a th:href="@{/midataGroup/{id}/defaultTile(id=${group.id})}"
                   th:title="#{midataGroup.defaultTile.titel(${group.name})}"
                   class="btn-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="currentColor"
                              d="M40 48C26.7 48 16 58.7 16 72v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V72c0-13.3-10.7-24-24-24H40zM192 64c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zM16 232v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V232c0-13.3-10.7-24-24-24H40c-13.3 0-24 10.7-24 24zM40 368c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24H88c13.3 0 24-10.7 24-24V392c0-13.3-10.7-24-24-24H40z"/>
                    </svg>
                </a>
            </td>
            <td>
                <a th:href="@{/midataGroup/{id}/masterTile(id=${group.id})}"
                   th:title="#{masterTile.indexOfGroup.titel(${group.name})}"
                   class="btn-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path fill="currentColor"
                              d="M128 136c0-22.1-17.9-40-40-40L40 96C17.9 96 0 113.9 0 136l0 48c0 22.1 17.9 40 40 40H88c22.1 0 40-17.9 40-40V136zm0 192c0-22.1-17.9-40-40-40H40c-22.1 0-40 17.9-40 40v48c0 22.1 17.9 40 40 40H88c22.1 0 40-17.9 40-40V328zm32-192v48c0 22.1 17.9 40 40 40h48c22.1 0 40-17.9 40-40V136c0-22.1-17.9-40-40-40l-48 0c-22.1 0-40 17.9-40 40zM288 328c0-22.1-17.9-40-40-40H200c-22.1 0-40 17.9-40 40l0 48c0 22.1 17.9 40 40 40h48c22.1 0 40-17.9 40-40V328zm32-192v48c0 22.1 17.9 40 40 40h48c22.1 0 40-17.9 40-40V136c0-22.1-17.9-40-40-40l-48 0c-22.1 0-40 17.9-40 40zM448 328c0-22.1-17.9-40-40-40H360c-22.1 0-40 17.9-40 40v48c0 22.1 17.9 40 40 40h48c22.1 0 40-17.9 40-40V328z"/>
                    </svg>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="container" th:if="${groups.isEmpty()}">
        <div class="info-box border">
            <h2>Hinweis</h2>
            <p>Du hast zu keinen Gruppen Admin Berechtigungen</p>
        </div>
    </div>
</div>

<th:block layout:fragment="scripts">

</th:block>

</body>
</html>
