<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/portal}">
<head>
    <title>Portal</title>
</head>
<body>
<div layout:fragment="content">

    <div class="header-container">
        <div class="header-item">

        </div>
        <div class="header-item">
            <div class="top-buttons">
                <a class="btn-text" th:href="@{/admin/masterTile/create}">
                    <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 448 512">
                        <path fill="currentColor"
                              d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path>
                    </svg>
                    <th:block th:text="#{masterTile.topButtons.create}">New</th:block>
                </a>
                <form th:action="@{/provisioning}" method="post">
                    <button class="btn-text" type="submit">
                        <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 512 512">
                            <path fill="currentColor"
                                  d="M440.65 12.57l4 82.77A247.16 247.16 0 0 0 255.83 8C134.73 8 33.91 94.92 12.29 209.82A12 12 0 0 0 24.09 224h49.05a12 12 0 0 0 11.67-9.26 175.91 175.91 0 0 1 317-56.94l-101.46-4.86a12 12 0 0 0-12.57 12v47.41a12 12 0 0 0 12 12H500a12 12 0 0 0 12-12V12a12 12 0 0 0-12-12h-47.37a12 12 0 0 0-11.98 12.57zM255.83 432a175.61 175.61 0 0 1-146-77.8l101.8 4.87a12 12 0 0 0 12.57-12v-47.4a12 12 0 0 0-12-12H12a12 12 0 0 0-12 12V500a12 12 0 0 0 12 12h47.35a12 12 0 0 0 12-12.6l-4.15-82.57A247.17 247.17 0 0 0 255.83 504c121.11 0 221.93-86.92 243.55-201.82a12 12 0 0 0-11.8-14.18h-49.05a12 12 0 0 0-11.67 9.26A175.86 175.86 0 0 1 255.83 432z"></path>
                        </svg>
                        <th:block th:text="#{masterTile.topButtons.provisioning}">Provisioning</th:block>
                    </button>
                </form>
                <a class="btn-text" th:href="@{/admin/masterTile/create}">
                    <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 448 512">
                        <path fill="currentColor"
                              d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path>
                    </svg>
                    <th:block th:text="#{masterTile.topButtons.create}">New</th:block>
                </a>
            </div>
        </div>
    </div>

    <div class="tiles col-block col-3 flex-align-start">
        <div class="grid-sizer"></div>
        <div class="gutter-sizer"></div>

        <div class="tile col" th:each="tile : ${tiles}"
             th:classappend="${tile.backgroundColor != T(ch.itds.pbs.portal.domain.Color).DEFAULT ? 'theme-' + tile.backgroundColor: ''}"
        >
            <a th:if="${tile.hasUrl}" target="_blank" rel="noopener" th:href="${tile.url}">
                <div class="content-wrap">
                    <div class="title" th:text="${tile.title}"></div>
                    <div class="content" th:text="${tile.content}"></div>
                    <div class="image" th:if="${tile.image}">
                        <img th:src="@{/tile/masterFile/{tileId}/{tileVersion}/{name}(tileId=${tile.masterTileId},tileVersion=${tile.masterTileVersion},name=${tile.image.name})}">
                    </div>

                    <div class="btn-icon btn-link">
                        <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 576 512">
                            <path fill="currentColor"
                                  d="M195.515 374.828c-4.686-4.686-4.686-12.284 0-16.971l323.15-323.15-.707-.707-89.958.342c-6.627 0-12-5.373-12-12v-9.999c0-6.628 5.372-12 12-12L564 0c6.627 0 12 5.372 12 12l-.343 136c0 6.627-5.373 12-12 12h-9.999c-6.627 0-12-5.373-12-12L542 58.042l-.707-.707-323.15 323.15c-4.686 4.686-12.284 4.686-16.971 0l-5.657-5.657zm232-155.633l-8 8A12 12 0 0 0 416 235.68V464c0 8.837-7.164 16-16 16H48c-8.836 0-16-7.163-16-16V112c0-8.837 7.164-16 16-16h339.976c3.183 0 6.235-1.264 8.485-3.515l8-8c7.56-7.56 2.206-20.485-8.485-20.485H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V227.681c0-10.691-12.926-16.045-20.485-8.486z"></path>
                        </svg>
                    </div>
                </div>
            </a>

            <div th:unless="${tile.hasUrl}" class="content-wrap">
                <div class="title" th:text="${tile.title}"></div>
                <div class="content" th:text="${tile.content}"></div>
                <div class="image" th:if="${tile.image}">
                    <img th:src="@{/tile/masterFile/{tileId}/{tileVersion}/{name}(tileId=${tile.masterTileId},tileVersion=${tile.masterTileVersion},name=${tile.image.name})}">
                </div>
            </div>

            <div class="category label" th:text="${tile.category}"></div>
            <a th:href="@{/message(tileId=${tile.masterTileId})}" class="message-count badge"
               th:if="${tile.unreadMessageCount>0}"
               th:text="${tile.unreadMessageCount}"
               th:title="#{message.unread.link.title(${tile.title})}"
            ></a>
        </div>
    </div>
</div>

<th:block layout:fragment="scripts">

</th:block>

</body>
</html>
